[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=createDatedFolder;
Terminal=false
X-KDE-AuthorizeAction=TopLevel

[Desktop Action createDatedFolder]
Name=Create Dated Folder
Exec=bash -c "cd '%f' && ~/.local/share/kio/servicemenus/create-dated-folder.sh"
Icon=folder-new
